* {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

#container_header {
  position: relative;
}

#container_header .container__header .container--header--left {
  background: #381ddb;
  padding: 0;
}

#container_header .container__header .container--header--left .image--header--right {
  width: 100%;
  height: 760px;
  position: relative;
}

@media (max-width: 740px) {
  #container_header .container__header .container--header--left .image--header--right {
    height: 950px;
  }
}

#container_header .container__header .container--header--left #container {
  position: absolute;
  top: 0;
}

@media (min-width: 1024px) {
  #container_header .container__header .container--header--left #container {
    left: 65px;
  }
}

#container_header .container__header .container--header--left #container .menu-dropdown {
  border: 1px solid white;
  display: none;
  background: none;
}

@media (max-width: 740px) {
  #container_header .container__header .container--header--left #container .menu-dropdown {
    display: block;
  }
}

@media (min-width: 1024px) {
  #container_header .container__header .container--header--left #container .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#container_header .container__header .container--header--left #container .show {
  display: block !important;
}

#container_header .container__header .container--header--left #container .dropdown-menu {
  position: relative;
}

@media (max-width: 740px) {
  #container_header .container__header .container--header--left #container .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
  }
}

#container_header .container__header .container--header--left #container .tu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  border: none;
}

@media (max-width: 740px) {
  #container_header .container__header .container--header--left #container .tu {
    display: none;
    top: 46px;
    background: black;
    height: 165px;
  }
}

#container_header .container__header .container--header--left #container .tu .text_home,
#container_header .container__header .container--header--left #container .tu .text_navbar_nav {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding-right: 35px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  #container_header .container__header .container--header--left #container .tu .text_home,
  #container_header .container__header .container--header--left #container .tu .text_navbar_nav {
    padding-right: 20px;
  }
}

@media (max-width: 740px) {
  #container_header .container__header .container--header--left #container .tu .text_home,
  #container_header .container__header .container--header--left #container .tu .text_navbar_nav {
    padding-right: 0;
  }
}

#container_header .container__header .container--header--left #container .tu .text_home {
  color: #ffa3a3;
  padding-left: 86px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  #container_header .container__header .container--header--left #container .tu .text_home {
    padding-left: 56px;
  }
}

@media (max-width: 740px) {
  #container_header .container__header .container--header--left #container .tu .text_home {
    padding-left: 27px;
  }
}

#container_header .container__header .container--header--left #container .tu .group-btn {
  display: inline-block;
  position: absolute;
  right: -509px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  #container_header .container__header .container--header--left #container .tu .group-btn {
    right: -150px;
  }
}

@media (max-width: 740px) {
  #container_header .container__header .container--header--left #container .tu .group-btn {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: black;
  }
}

#container_header .container__header .container--header--left #container .tu .group-btn .btn-signup {
  color: #381ddb;
  border: 1px solid #381ddb;
  letter-spacing: 0em;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  #container_header .container__header .container--header--left #container .tu .group-btn .btn-signup {
    color: white;
    border: 1px solid white;
  }
}

#container_header .container__header .container--header--left #container .tu .group-btn .btn-signin {
  color: #381ddb;
  letter-spacing: 0em;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  #container_header .container__header .container--header--left #container .tu .group-btn .btn-signin {
    color: white;
  }
}

#container_header .container__header .container--header--left .text_topmarket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding-top: 120px;
}

@media (min-width: 740px) and (max-width: 1024px) {
  #container_header .container__header .container--header--left .text_topmarket {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
  }
}

@media (max-width: 740px) {
  #container_header .container__header .container--header--left .text_topmarket {
    padding-top: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#container_header .container__header .container--header--left .text_topmarket .star_topmarket {
  padding-right: 10px;
}

#container_header .container__header .container--header--left .text_topmarket span {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

#container_header .container__header .container--header--left #title_header {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
  height: 219px;
  padding-top: 20px;
  color: #ffa3a3;
  width: 500px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  #container_header .container__header .container--header--left #title_header {
    margin-left: 80px;
    width: 517px;
  }
}

@media (max-width: 740px) {
  #container_header .container__header .container--header--left #title_header {
    width: 100%;
    text-align: center;
  }
}

#container_header .container__header .container--header--left .behind_title {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding-top: 40px;
  width: 470px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  #container_header .container__header .container--header--left .behind_title {
    margin: 0 115px;
    padding: 0;
  }
}

@media (max-width: 740px) {
  #container_header .container__header .container--header--left .behind_title {
    width: 100%;
    padding-top: 120px;
    text-align: center;
  }
}

#container_header .container__header .container--header--left #read_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 120px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  #container_header .container__header .container--header--left #read_more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 18px;
  }
}

@media (max-width: 740px) {
  #container_header .container__header .container--header--left #read_more {
    padding-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#container_header .container__header .container--header--left #read_more .backdown_readmore {
  width: 17px;
  height: 18px;
  border-radius: 17px;
  border: 1px solid #ffa3a3;
  text-align: center;
  color: #ffa3a3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container_header .container__header .container--header--left #read_more .text_read_more {
  color: #ffa3a3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding-right: 17px;
}

#form {
  border: 1px solid;
  width: 380px;
  height: 450px;
  position: absolute;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1024px) {
  #form {
    top: 25%;
    left: 50%;
  }
}

@media (max-width: 740px) {
  #form {
    width: 315px;
    bottom: -262px;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  #form {
    top: 73%;
  }
}

#form .form_getstarted {
  padding-left: 60px;
  padding-left: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 740px) {
  #form .form_getstarted {
    padding-left: 30px;
  }
}

#form .form_getstarted label {
  width: 200px;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}

#form .form_getstarted #form_group {
  margin-top: 15px;
}

#form .form_getstarted #form_group input {
  border: 1px solid;
  opacity: 0.4;
  padding: 3px 6px;
}

#form .form_getstarted #button-form {
  margin-top: 30px;
  width: 100px;
}

#form .form_getstarted .all_support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

#form .form_getstarted .all_support .support,
#form .form_getstarted .all_support .text_support {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

#form .form_getstarted .all_support .text_support {
  color: #381ddb;
}

#form #all_img {
  position: relative;
}

#form #all_img .img_laptop {
  width: 108px;
  position: absolute;
  bottom: 30px;
  left: -7px;
}

@media (max-width: 740px) {
  #form #all_img .img_laptop {
    left: -38px;
  }
}

#form #all_img .star_above_laptop {
  position: absolute;
  top: 30px;
  left: 38px;
}

#form #all_img .img_above_laptop {
  height: 381px;
  width: 65px;
  position: relative;
  margin-left: 45px;
}

@media (max-width: 740px) {
  #form #all_img .img_above_laptop {
    margin-left: 10px;
  }
}

.body .leading_provider #container_leading_provider {
  padding-top: 100px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .leading_provider #container_leading_provider {
    position: relative;
  }
}

@media (max-width: 740px) {
  .body .leading_provider #container_leading_provider {
    padding-top: 350px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .leading_provider #container_leading_provider .row {
    padding-top: 200px;
  }
}

.body .leading_provider #container_leading_provider .row .col-lg-6 .img-group {
  width: 470px;
  height: 360px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .leading_provider #container_leading_provider .row .col-lg-6 .img-group {
    margin: 0 112px;
    position: absolute;
    bottom: -772px;
  }
}

@media (max-width: 740px) {
  .body .leading_provider #container_leading_provider .row .col-lg-6 .img-group {
    width: 100%;
    height: 317px;
    position: absolute;
    top: 589px;
  }
}

.body .leading_provider #container_leading_provider .row .leading_provider_right {
  position: relative;
}

@media (min-width: 1024px) {
  .body .leading_provider #container_leading_provider .row .leading_provider_right .img-logo {
    width: 134px;
    height: 50px;
    position: absolute;
    right: 0;
  }
}

.body .leading_provider #container_leading_provider .row .leading_provider_right .text_leading_provider {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: right;
  padding-top: 80px;
}

@media (max-width: 740px) {
  .body .leading_provider #container_leading_provider .row .leading_provider_right .text_leading_provider {
    text-align: center;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .leading_provider #container_leading_provider .row .leading_provider_right .text_leading_provider {
    width: 500px;
    text-align: center;
    margin: 0 100px;
  }
}

.body .leading_provider #container_leading_provider .row .leading_provider_right #text_leading_provider {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  padding-top: 40px;
}

@media (max-width: 740px) {
  .body .leading_provider #container_leading_provider .row .leading_provider_right #text_leading_provider {
    text-align: center;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .leading_provider #container_leading_provider .row .leading_provider_right #text_leading_provider {
    width: 600px;
    margin: 0px 45px;
  }
}

.body .leading_provider #container_leading_provider .row .leading_provider_right .icon_long_arrow {
  margin-top: 22px;
  opacity: 0.4;
}

@media (min-width: 1024px) {
  .body .leading_provider #container_leading_provider .row .leading_provider_right .icon_long_arrow {
    position: absolute;
    right: 20px;
  }
}

@media (max-width: 740px) {
  .body .leading_provider #container_leading_provider .row .leading_provider_right .icon_long_arrow {
    text-align: center;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  .body .leading_provider #container_leading_provider .row .leading_provider_right .icon_long_arrow {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.body .leading_provider #container_leading_provider .row .leading_provider_right .icon_long_arrow .arrow_left {
  padding-right: 10px;
}

.body .leading_provider #container_leading_provider .row .leading_provider_right .icon_long_arrow .arrow_right {
  padding-left: 10px;
}

.body .leading_provider .hollow_behind_leadingprovider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .leading_provider .hollow_behind_leadingprovider {
    margin-top: 400px;
  }
}

@media (max-width: 740px) {
  .body .leading_provider .hollow_behind_leadingprovider {
    padding-top: 260px;
  }
}

.body .leading_provider .hollow_behind_leadingprovider .hollow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .leading_provider .hollow_behind_leadingprovider .hollow_behind {
  height: 1px;
  background: #ffa3a3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.body .leading_provider .hollow_behind_leadingprovider .hollow_behind .img_elip {
  width: 6px;
  height: 8px;
  position: absolute;
  top: -3px;
  left: 50%;
}

.body #container_solution {
  padding-top: 80px;
}

@media (min-width: 1024px) {
  .body #container_solution {
    padding-left: 70px;
  }
}

.body #container_solution .text_solution {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

@media (min-width: 1024px) {
  .body #container_solution .text_solution {
    width: 970px;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  .body #container_solution .text_solution {
    width: 500px;
    margin: 0 110px;
  }
}

.body #container_solution #text_solution {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 40px;
}

@media (min-width: 1024px) {
  .body #container_solution #text_solution {
    width: 970px;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  .body #container_solution #text_solution {
    padding: 30px 40px 0 40px;
  }
}

.body #container_solution .container_device {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 740px) and (max-width: 1024px) {
  .body #container_solution .container_device {
    margin-left: 50px;
  }
}

.body #container_solution .container_device #text_img_pig {
  background: #ffa3a3;
  padding-left: 30px;
}

@media (min-width: 740px) and (max-width: 1024px) {
  .body #container_solution .container_device #text_img_pig {
    max-width: 215px;
  }
}

@media (min-width: 1024px) {
  .body #container_solution .container_device #text_img_pig {
    max-width: 245px;
    margin: 0 30px;
  }
}

@media (max-width: 740px) {
  .body #container_solution .container_device #text_img_pig {
    max-width: 386px;
    margin: 30px 0;
  }
}

.body #container_solution .container_device #text_img_pig i {
  padding-top: 27px;
  color: #381ddb;
}

.body #container_solution .container_device #text_img_pig .img_device {
  width: 70px;
  height: 70px;
  padding-left: 30px;
  margin-top: 30px;
}

.body #container_solution .container_device #text_img_pig .title {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 28px;
}

.body #container_solution .container_device #text_img_pig .paragraph {
  padding-top: 17px;
}

.body #container_solution .container_device #text_img_pig .rectangular {
  padding-left: 145px;
}

@media (min-width: 1024px) {
  .body #container_solution .container_device .text_img_vecto,
  .body #container_solution .container_device .text_img_telephone {
    max-width: 245px;
  }
}

@media (max-width: 740px) {
  .body #container_solution .container_device .text_img_vecto,
  .body #container_solution .container_device .text_img_telephone {
    max-width: 386px;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  .body #container_solution .container_device .text_img_vecto,
  .body #container_solution .container_device .text_img_telephone {
    max-width: 215px;
  }
}

.body #container_solution .container_device .text_img_vecto i,
.body #container_solution .container_device .text_img_telephone i {
  padding-top: 27px;
  color: #381ddb;
}

.body #container_solution .container_device .text_img_vecto .img_device,
.body #container_solution .container_device .text_img_telephone .img_device {
  width: 70px;
  height: 70px;
}

.body #container_solution .container_device .text_img_vecto .title,
.body #container_solution .container_device .text_img_telephone .title {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 58px;
}

.body #container_solution .container_device .text_img_vecto .paragraph,
.body #container_solution .container_device .text_img_telephone .paragraph {
  padding-top: 17px;
}

.body .hollow_behind_leadingprovider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.body .hollow_behind_leadingprovider .hollow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .hollow_behind_leadingprovider .hollow_behind {
  height: 1px;
  background: #ffa3a3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.body .hollow_behind_leadingprovider .hollow_behind .img_elip {
  width: 6px;
  height: 8px;
  position: absolute;
  top: -3px;
  left: 50%;
}

.body #group-img {
  padding-top: 100px;
}

@media (min-width: 740px) and (max-width: 1024px) {
  .body #group-img {
    padding-top: 60px;
  }
}

.body #group-img .group-people {
  margin: 0;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body #group-img .group-people {
    position: relative;
  }
}

.body #group-img .group-people .group-img {
  position: relative;
}

@media (min-width: 1024px) {
  .body #group-img .group-people .group-img {
    padding-left: 70px;
  }
}

@media (max-width: 740px) {
  .body #group-img .group-people .group-img {
    left: 0;
    top: 540px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body #group-img .group-people .group-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: -462px;
  }
}

@media (max-width: 411px) {
  .body #group-img .group-people .group-img {
    top: 700px;
  }
}

.body #group-img .group-people .group-img .img_group_first {
  width: 330px;
  height: 400px;
  position: relative;
}

@media (max-width: 740px) {
  .body #group-img .group-people .group-img .img_group_first {
    width: 288px;
  }
}

.body #group-img .group-people .group-img .img_group_second {
  top: 43px;
  width: 350px;
  height: 400px;
  position: absolute;
  right: 15%;
}

@media (min-width: 740px) and (max-width: 1024px) {
  .body #group-img .group-people .group-img .img_group_second {
    top: 56px;
  }
}

@media (max-width: 740px) {
  .body #group-img .group-people .group-img .img_group_second {
    right: 0;
    width: 296px;
  }
}

@media (max-width: 740px) {
  .body #group-img .group-people .group-right {
    margin-top: -440px;
  }
}

.body #group-img .group-people .group-right h3 {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body #group-img .group-people .group-right h3 {
    text-align: center;
  }
}

.body #group-img .group-people .group-right div {
  padding-top: 25px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #222222;
}

@media (min-width: 740px) and (max-width: 1024px) {
  .body #group-img .group-people .group-right div {
    text-align: center;
    padding-left: 30px;
  }
}

.body #group-img .group-people .group-right .group-right-behind {
  padding-top: 40px;
}

.body #group-img .group-people .group-right #icon_text_check {
  padding-top: 40px;
}

.body #group-img .group-people .group-right #icon_text_check span {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding-right: 10px;
  color: #381ddb;
}

.body #group-img .group-people .group-right #icon_text_check i {
  color: #381ddb;
}

.body .container-black {
  height: 483px;
  text-align: center;
  background-color: #222222;
}

@media (min-width: 1024px) {
  .body .container-black {
    max-width: 942px;
    margin-top: 100px;
  }
}

@media (max-width: 740px) {
  .body .container-black {
    margin-top: 550px;
    max-width: 381px;
    height: 590px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .container-black {
    margin-top: 650px;
    max-width: 692px;
  }
}

.body .container-black .text_container_back {
  padding-top: 30px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-left: 212px;
  opacity: 0.7;
}

@media (min-width: 1024px) {
  .body .container-black .text_container_back {
    width: 500px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .container-black .text_container_back {
    margin: 0 96px;
  }
}

@media (max-width: 740px) {
  .body .container-black .text_container_back {
    width: 100%;
    margin: 0;
  }
}

.body .container-black h3 {
  color: white;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 80px;
}

@media (max-width: 740px) {
  .body .container-black h3 {
    width: 100%;
    padding-top: 30px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .container-black h3 {
    padding-top: 20px;
    margin: 0 90px;
  }
}

@media (min-width: 1024px) {
  .body .container-black .rectangular_blue {
    padding-top: 40px;
    margin-left: 97%;
  }
}

@media (max-width: 740px) {
  .body .container-black .rectangular_blue {
    display: none;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .container-black .rectangular_blue {
    padding-top: 61px;
    margin-left: 96%;
  }
}

.body .container-black .rectangular_white {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

@media (max-width: 740px) {
  .body .container-black .rectangular_white {
    display: none;
  }
}

.body .container-black .input_surbscribe {
  padding-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .container-black .input_surbscribe input {
  background: #2b2a2a !important;
  margin-right: 20px;
  padding: 9px 20px;
  width: 320px;
}

@media (max-width: 740px) {
  .body .container-black .input_surbscribe input {
    padding: 20px 20px;
    margin: 0 20px;
  }
}

.body .container-black .input_surbscribe button {
  margin-top: -5px;
  padding: 6px 15px;
  width: 150px;
}

@media (max-width: 740px) {
  .body .container-black .input_surbscribe button {
    padding: 18px 29px;
    margin: 20px 112.5px;
  }
}

.body .container-black .warning {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  width: 288px;
  padding-top: 30px;
  opacity: 0.3;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .container-black .warning {
    margin-left: 173px;
  }
}

@media (min-width: 1024px) {
  .body .container-black .warning {
    margin-left: 309px;
    color: white;
    margin: 0 300px;
  }
}

@media (max-width: 740px) {
  .body .container-black .warning {
    padding-top: 20px;
    width: 100%;
  }
}

.body .container-fluid h3 {
  padding-top: 100px;
  text-align: center;
}

.body .container-fluid .slide {
  padding-top: 70px;
  text-align: center;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .container-fluid .slide {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 740px) {
  .body .container-fluid .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
}

.body .container-fluid .slide img {
  padding-right: 30px;
}

.body .container-fluid .icon_long_arrow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 20px;
  opacity: 0.7;
  padding-bottom: 70px;
}

@media (max-width: 740px) {
  .body .container-fluid .icon_long_arrow {
    padding-bottom: 60px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .body .container-fluid .icon_long_arrow {
    padding-bottom: 60px;
  }
}

.body .container-fluid .icon_long_arrow span {
  font-size: 10px;
  padding-top: 1px;
}

#footer {
  background: rgba(34, 34, 34, 0.03);
}

#footer .row {
  margin: 0;
}

@media (min-width: 104px) {
  #footer .row img {
    padding-left: 40px;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  #footer .row img {
    padding-left: 40px;
  }
}

#footer .row .nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 740px) {
  #footer .row .nav-footer {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) {
  #footer .row .nav-footer {
    padding-left: 170px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  #footer .row .nav-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#footer .row .nav-footer div {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width: 1024px) {
  #footer .row .nav-footer div {
    padding-right: 40px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  #footer .row .nav-footer div {
    padding-right: 25px;
  }
}

@media (max-width: 740px) {
  #footer .row .nav-footer div {
    padding-left: 20px;
  }
}

@media (min-width: 1024px) {
  #footer .row .group-btn-footer {
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
  }
}

@media (max-width: 740px) {
  #footer .row .group-btn-footer {
    margin-top: 20px;
    text-align: center;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  #footer .row .group-btn-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 195px;
    top: 6px;
    right: 0;
  }
}

#footer .row .group-btn-footer button {
  color: #381ddb;
}

#footer .row .group-btn-footer .btn-signup {
  border: 1px solid #381ddb;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width: 740px) and (max-width: 1023px) {
  #footer .row .group-btn-footer .btn-signup {
    width: 86px;
    height: 40px;
  }
}

#footer .row .group-btn-footer .btn-signin {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width: 740px) and (max-width: 1023px) {
  #footer .row .group-btn-footer .btn-signin {
    height: 40px;
  }
}

#footer .row .text_footer {
  padding-left: 40px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #222222;
}

@media (min-width: 1024px) {
  #footer .row .text_footer {
    width: 400px;
  }
}

@media (max-width: 740px) {
  #footer .row .text_footer {
    padding-top: 37px;
  }
}

#footer .row-footer {
  padding-top: 65px;
}

#footer .row-footer .col-md-4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .row-footer #nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .row-behind {
  padding-top: 30px;
}

@media (max-width: 740px) {
  #footer .row-behind {
    position: relative;
  }
}

#footer .row-behind i {
  font-size: 30px;
}

@media (min-width: 1024px) {
  #footer .row-behind i {
    padding-left: 43px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  #footer .row-behind i {
    padding-left: 28px;
  }
}

@media (max-width: 740px) {
  #footer .row-behind i {
    padding: 0 19px;
  }
}

#footer .row-behind .icon-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1024px) {
  #footer .row-behind .icon-footer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 160px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  #footer .row-behind .icon-footer {
    padding-left: 71px;
  }
}

@media (max-width: 740px) {
  #footer .row-behind .icon-footer {
    position: absolute;
    top: 21px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */