* {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}
@import "color";
@mixin text {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
@mixin title_device {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
}
@mixin text_star_market {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
@mixin support {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}
@mixin text_title {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    height: 219px;
    padding-top: 20px;
}
@mixin text_behind_title {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

    color: white;
}
@mixin text_read_more {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
@mixin text_button {
    color: rgba(56, 29, 219, 1);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
#container_header {
    position: relative;
    .container__header {
        .container--header--left {
            background: rgba(56, 29, 219, 1);
            // padding-left: 160px;
            padding: 0;
            .image--header--right {
                width: 100%;
                height: 760px;
                position: relative;
                @media (max-width: 740px) {
                    height: 830px;
                }
            }
            #container {
                position: absolute;
                top: 0;
                @media (min-width: 1024px) {
                    left: 65px;
                }

                .menu-dropdown {
                    border: 1px solid white;
                    display: none;
                    background: none;
                    @media (max-width: 740px) {
                        display: block;
                    }
                }

                .navbar-nav {
                    @media (min-width: 1024px) {
                        display: flex;
                    }
                }
                .show {
                    display: block !important;
                    // background: blue;
                }
                .tu {
                    display: flex;
                    background: none;
                    border: none;
                    position: relative;
                    // top: 43px;
                    // left: 62%;
                    // height: 165px;

                    @media (max-width: 740px) {
                        display: none;
                        position: absolute;
                        top: 46px;
                        background: black;
                        left: 62%;
                    height: 165px;
                    }

                    .text_home,
                    .text_navbar_nav {
                        color: white;
                        @include text;
                        padding-right: 35px;
                        @media (min-width: 740px) and (max-width: 1023px) {
                            padding-right: 20px;
                        }
                        @media (max-width: 740px) {
                            padding-right: 0;
                        }
                    }

                    .text_home {
                        color: rgba(255, 163, 163, 1);
                        padding-left: 86px;
                        @include text;
                        @media (min-width: 740px) and (max-width: 1023px) {
                            padding-left: 56px;
                        }
                        @media (max-width: 740px) {
                            padding-left: 27px;
                        }
                    }
                    .group-btn {
                        display: inline-block;
                        position: absolute;
                        right: -509px;
                        @media (min-width: 740px) and (max-width: 1023px) {
                            right: -150px;
                        }
                        @media (max-width: 740px) {
                            right: 0;
                            display: flex;
                            background: black;
                        }

                        .btn-signup {
                            color: blue;
                            border: 1px solid blue;
                            @include text_button;
                            @media (min-width: 740px) and (max-width: 1023px) {
                                color: white;
                                border: 1px solid white;
                            }
                        }
                        .btn-signin {
                            color: blue;
                            @include text_button;
                            @media (min-width: 740px) and (max-width: 1023px) {
                                color: white;
                            }
                        }
                    }
                }
            }
            .text_topmarket {
                display: flex;
                color: white;
                padding-top: 120px;
                @media (min-width: 740px) and(max-width:1024px) {
                    justify-content: center;
                    padding-top: 60px;
                }
                @media (max-width: 740px) {
                    padding-top: 60px;
                    justify-content: center;
                }
                .star_topmarket {
                    padding-right: 10px;
                }
                span {
                    @include text_star_market;
                }
            }
            #title_header {
                @include text_title;
                color: rgba(255, 163, 163, 1);
                width: 500px;
                @media (min-width: 740px) and (max-width: 1023px) {
                    margin-left: 80px;
                    width: 517px;
                }
                @media (max-width: 740px) {
                    width: 385px;
                    text-align: center;
                }
            }
            .behind_title {
                @include text_behind_title;
                padding-top: 40px;
                width: 470px;
                @media (min-width: 740px) and (max-width: 1023px) {
                    margin: 0 115px;
                    padding: 0;
                }
                @media (max-width: 740px) {
                    width: 390px;
                    text-align: center;
                }
            }
            #read_more {
                display: flex;
                padding-top: 80px;
                padding-bottom: 120px;
                @media (min-width: 740px) and (max-width: 1023px) {
                    justify-content: center;
                    padding-top: 18px;
                }
                @media (max-width: 740px) {
                    padding-top: 20px;
                    justify-content: center;
                }
                .backdown_readmore {
                    width: 17px;
                    height: 18px;
                    border-radius: 17px;
                    border: 1px solid #ffa3a3;
                    text-align: center;
                    color: #ffa3a3;
                    justify-content: center;
                    display: flex;
                }
                .text_read_more {
                    color: #ffa3a3;
                    @include text_read_more;
                    padding-right: 17px;
                }
            }
        }
    }
}

#form {
    border: 1px solid;
    width: 380px;
    height: 450px;
    position: absolute;
    background: white;
    display: flex;

    left: 50%;
    @media (min-width: 1024px) {
        top: 25%;
    }
    @media (max-width: 740px) {
        width: 315px;
        bottom: -262px;
        left: 13%;
    }
    @media (min-width: 740px) and(max-width:1024px) {
        top: 73%;
        left: 30%;
    }
    .form_getstarted {
        padding-left: 60px;
        padding-left: 60px;
        justify-content: center;
        flex-direction: column;
        display: flex;
        @media (max-width: 740px) {
            padding-left: 30px;
        }
        label {
            width: 200px;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: 38px;
            letter-spacing: 0px;
            text-align: left;
        }
        #form_group {
            margin-top: 15px;
            input {
                border: 1px solid;
                opacity: 0.4;
                padding: 3px 6px;
            }
        }
        #button-form {
            margin-top: 30px;
            width: 100px;
        }
        .all_support {
            display: flex;
            padding-top: 30px;
            .support,
            .text_support {
                @include support;
            }
            .text_support {
                color: rgba(56, 29, 219, 1);
            }
        }
    }
    #all_img {
        position: relative;
        .img_laptop {
            width: 108px;
            position: absolute;
            bottom: 30px;
            left: -7px;
            @media (max-width: 740px) {
                left: -38px;
            }
        }
        .star_above_laptop {
            position: absolute;
            top: 30px;
            left: 38px;
        }
        .img_above_laptop {
            height: 381px;
            width: 65px;
            position: relative;
            margin-left: 45px;
            @media (max-width: 740px) {
                margin-left: 10px;
            }
        }
    }
}
.body {
    .leading_provider {
        #container_leading_provider {
            padding-top: 100px;
            @media (min-width: 740px) and (max-width: 1023px) {
                position: relative;
            }
            @media (max-width: 740px) {
                padding-top: 350px;
            }
            .row {
                @media (min-width: 740px) and (max-width: 1023px) {
                    padding-top: 200px;
                }
                .col-lg-6 {
                    .img-group {
                        width: 470px;
                        height: 360px;

                        @media (min-width: 740px) and (max-width: 1023px) {
                            margin: 0 112px;
                            position: absolute;
                            bottom: -772px;
                        }
                        @media (max-width: 740px) {
                            width: 385px;
                            height: 317px;
                            position: absolute;
                            top: 504px;
                        }
                    }
                }
                .leading_provider_right {
                    position: relative;
                    .img-logo {
                        @media (min-width: 1024px) {
                            width: 134px;
                            height: 50px;
                            position: absolute;
                            right: 0;
                        }
                        @media (min-width: 740px) and(max-width:1024px) {
                            padding: 0 280px;
                        }
                        @media (max-width: 740px) {
                            margin: 0 130px;
                        }
                    }
                    .text_leading_provider {
                        font-size: 34px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 44px;
                        letter-spacing: 0em;
                        text-align: right;
                        padding-top: 80px;
                        @media (max-width: 740px) {
                            text-align: center;
                        }
                        @media (min-width: 740px) and (max-width: 1023px) {
                            width: 500px;
                            text-align: center;
                            margin: 0 100px;
                        }
                    }
                    #text_leading_provider {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0px;
                        text-align: right;
                        padding-top: 40px;
                        @media (max-width: 740px) {
                            text-align: center;
                        }
                        @media (min-width: 740px) and (max-width: 1023px) {
                            width: 600px;
                            margin: 0px 45px;
                        }
                    }
                    .icon_long_arrow {
                        margin-top: 22px;
                        opacity: 0.4;
                        @media (min-width: 1024px) {
                            position: absolute;
                            right: 20px;
                        }
                        @media (max-width: 740px) {
                            text-align: center;
                        }
                        @media (min-width: 740px) and (max-width: 1024px) {
                            align-items: center;
                            display: flex;
                            justify-content: center;
                        }
                        .arrow_left {
                            padding-right: 10px;
                        }
                        .arrow_right {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        .hollow_behind_leadingprovider {
            display: flex;
            @media(min-width:740px) and(max-width:1023px){
                margin-top: 400px;
            }
            @media (max-width: 740px) {
                padding-top: 260px;
            }
            .hollow {
                flex: 1;
                display: flex;
            }
            .hollow_behind {
                height: 1px;
                background: rgba(238, 123, 123, 1);
                flex: 1;
                display: flex;
                position: relative;
                .img_elip {
                    width: 6px;
                    height: 8px;
                    position: absolute;
                    top: -3px;
                    left: 50%;
                }
            }
        }
    }
    #container_solution {
        padding-top: 80px;
        @media (min-width: 1024px) {
            padding-left: 70px;
        }

        .text_solution {
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: center;
            @media (min-width: 1024px) {
                width: 970px;
            }
            @media (min-width: 740px) and(max-width:1024px) {
                width: 500px;
                margin: 0 110px;
            }
        }
        #text_solution {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            padding-top: 40px;
            @media (min-width: 1024px) {
                width: 970px;
            }
            @media (min-width: 740px) and(max-width:1024px) {
                padding: 30px 40px 0 40px;
            }
        }
        .container_device {
            display: flex;
            padding-top: 60px;
            justify-content: center;
            @media (min-width: 740px) and(max-width:1024px) {
                margin-left: 50px;
            }
            #text_img_pig {
                background: rgba(255, 163, 163, 1);
                padding-left: 30px;
                @media (min-width: 740px) and(max-width:1024px) {
                    max-width: 215px;
                }
                @media (min-width: 1024px) {
                    max-width: 245px;
                    margin: 0 30px;
                }
                @media (max-width: 740px) {
                    max-width: 386px;

                    margin: 30px 0;
                }
                i {
                    padding-top: 27px;
                    color: blue;
                }
                .img_device {
                    width: 70px;
                    height: 70px;
                    padding-left: 30px;
                    margin-top: 30px;
                }
                .title {
                    @include title_device;
                    padding-top: 28px;
                }
                .paragraph {
                    padding-top: 17px;
                }
                .rectangular {
                    padding-left: 145px;
                }
            }
            .text_img_vecto,
            .text_img_telephone {
                @media (min-width: 1024px) {
                    max-width: 245px;
                }
                @media (max-width: 740px) {
                    max-width: 386px;
                }
                @media (min-width: 740px) and(max-width:1024px) {
                    max-width: 215px;
                }
                i {
                    padding-top: 27px;
                    color: blue;
                }
                .img_device {
                    width: 70px;
                    height: 70px;
                }
                .title {
                    @include title_device;
                    padding-top: 58px;
                }
                .paragraph {
                    padding-top: 17px;
                }
            }
        }
    }
    .hollow_behind_leadingprovider {
        display: flex;
        margin-top: 100px;
      
        .hollow {
            flex: 1;
            display: flex;
        }
        .hollow_behind {
            height: 1px;
            background: rgba(238, 123, 123, 1);
            flex: 1;
            display: flex;
            position: relative;
            .img_elip {
                width: 6px;
                height: 8px;
                position: absolute;
                top: -3px;
                left: 50%;
            }
        }
    }
    #group-img {
        padding-top: 100px;
        @media (min-width: 740px) and(max-width:1024px) {
            padding-top: 60px;
        }

        .group-people {
            margin: 0;
            @media (min-width: 740px) and (max-width: 1023px) {
                position: relative;
            }

            .group-img {
                position: relative;
                @media (min-width: 1024px) {
                    padding-left: 70px;
                }
                @media (max-width: 740px) {
                    left: 0;
                    top: 540px;
                }
                @media (min-width: 740px) and (max-width: 1023px) {
                    justify-content: center;
                    display: flex;
                    position: absolute;
                    bottom: -462px;
                }
                .img_group_first {
                    width: 330px;
                    height: 400px;
                    position: relative;
                    @media (max-width: 740px) {
                        width: 296px;
                    }
                }
                .img_group_second {
                    top: 43px;
                    width: 350px;
                    height: 400px;
                    position: absolute;
                    right: 15%;
                    @media (min-width: 740px) and(max-width:1024px) {
                        top: 56px;
                    }
                    @media (max-width: 740px) {
                        right: 20px;
                        width: 296px;
                    }
                }
            }
            .group-right {
                @media (max-width: 740px) {
                    margin-top: -440px;
                }
                h3 {
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 44px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: rgba(34, 34, 34, 1);
                    @media (min-width: 740px) and (max-width: 1023px) {
                        text-align: center;
                    }
                }
                div {
                    padding-top: 25px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: rgba(34, 34, 34, 1);
                    @media (min-width: 740px) and(max-width:1024px) {
                        text-align: center;
                        padding-left: 30px;
                    }
                }
                .group-right-behind {
                    padding-top: 40px;
                }
                #icon_text_check {
                    padding-top: 40px;

                    span {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: 0px;
                        text-align: left;
                        padding-right: 10px;
                        color: rgba(56, 29, 219, 1);
                    }
                    i {
                        color: rgba(56, 29, 219, 1);
                    }
                }
            }
        }
    }
    .container-black {
        height: 483px;
        // height: 530px;
        text-align: center;
        background-color: rgba(34, 34, 34, 1);
        @media (min-width: 1024px) {
            max-width: 942px;
            margin-top: 100px;
        }
        @media (max-width: 740px) {
            margin-top: 550px;
            max-width: 381px;
            height: 590px;
        }
        @media (min-width: 740px) and (max-width: 1023px) {
            margin-top: 650px;
            // margin-left: 65px;
            max-width: 692px;
        }
        .text_container_back {
            padding-top: 30px;
            color: white;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;

            margin-left: 212px;
            opacity: 0.7;
            @media (min-width: 1024px) {
                width: 500px;
            }
            @media (min-width: 740px) and (max-width: 1023px) {
                margin: 0 96px;
            }
            @media (max-width: 740px) {
                width: 277px;
                margin: 0 35px;
            }
        }
        h3 {
            color: white;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: center;
            padding-top: 80px;
            @media (max-width: 740px) {
                width: 300px;
                margin: 0 25px;

                padding-top: 30px;
            }
            @media (min-width: 740px) and (max-width: 1023px) {
                padding-top: 20px;
                margin: 0 90px;
            }
        }
        .rectangular_blue {
            @media (min-width: 1024px) {
                padding-top: 40px;
                margin-left: 97%;
            }
            @media (max-width: 740px) {
                display: none;
            }
            @media (min-width: 740px) and (max-width: 1023px) {
                padding-top: 61px;
                margin-left: 96%;
            }
        }
        .rectangular_white {
            justify-content: flex-start;
            display: flex;
            padding-top: 20px;
            @media (max-width: 740px) {
                display: none;
            }
        }
        .input_surbscribe {
            padding-top: 30px;
            justify-content: center;
            input {
                background: rgb(43, 42, 42) !important;
                margin-right: 20px;
                padding: 7px 20px;
                width: 320px;
                @media (max-width: 740px) {
                    padding: 20px 20px;
                    margin: 0 20px;
                    width: 340px;
                }
            }
            button {
                margin-top: -5px;
                padding: 6px 15px;
                width: 150px;
                @media (max-width: 740px) {
                    padding: 18px 29px;
                    width: 156px;
                    margin: 20px 112.5px;
                }
            }
        }
        .warning {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            color: white;
            width: 288px;
            padding-top: 30px;
            opacity: 0.3;
            @media (min-width: 740px) and (max-width: 1023px) {
                margin-left: 173px;
            }
            @media (min-width: 1024px) {
                margin-left: 309px;
                color: white;
                margin: 0 300px;
            }
            @media (max-width: 740px) {
                padding-top: 20px;
                margin: 0 31px;
            }
        }
    }
    .container-fluid {
        h3 {
            padding-top: 100px;
            text-align: center;
        }
        .slide {
            padding-top: 70px;
            text-align: center;
            @media (min-width: 740px) and (max-width: 1023px) {
                overflow: hidden;
                width: 100%;
                display: flex;
            }
            @media (max-width: 740px) {
                display: flex;
                overflow: hidden;
            }
            img {
                padding-right: 30px;
            }
        }
        .icon_long_arrow {
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;
            padding-top: 20px;
            opacity: 0.7;
            padding-bottom: 70px;
            @media (max-width: 740px) {
                padding-bottom: 60px;
            }
            @media (min-width: 740px) and (max-width: 1023px) {
                padding-bottom: 60px;
            }

            span {
                font-size: 10px;
                padding-top: 1px;
            }
        }
    }
}

#footer {
    background: rgba(34, 34, 34, 0.03);
    .row {
        margin: 0;
        img {
            padding-left: 40px;
            @media (max-width: 740px) {
                padding: 0 115px;
            }
        }
        .nav-footer {
            display: flex;
            @media (max-width: 740px) {
                padding-top: 20px;
            }
            @media (min-width: 1024px) {
                padding-left: 170px;
            }
            @media (min-width: 740px) and (max-width: 1023px) {
                justify-content: center;
                align-items: center;
            }

            div {
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                @media (min-width: 1024px) {
                    padding-right: 40px;
                }
                @media (min-width: 740px) and (max-width: 1023px) {
                    padding-right: 25px;
                }
                @media (max-width: 740px) {
                    padding-left: 32px;
                }
            }
        }
        .group-btn-footer {
            @media (min-width: 1024px) {
                position: absolute;
                width: 300px;
                top: 0;
                right: 0;
            }
            @media (max-width: 740px) {
                margin-top: 20px;
                text-align: center;
            }
            @media (min-width: 740px) and (max-width: 1023px) {
                align-items: center;
                display: flex;  position: absolute;
                width: 195px;
                top: 6px;
                right: 0;
            }
            button {
                color: blue;
            }
            .btn-signup {
                border: 1px solid blue;

                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                @media (min-width: 740px) and (max-width: 1023px) {
                    width: 86px;
                    height: 40px;
                }
            }
            .btn-signin {
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                @media (min-width: 740px) and (max-width: 1023px) {
                    height: 40px;
                }
            }
        }
        .text_footer {
            padding-left: 40px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0px;
            text-align: left;
            color: rgba(34, 34, 34, 1);
            @media (min-width: 1024px) {
                width: 400px;
            }
            @media (max-width: 740px) {
                padding-top: 37px;
            }
        }
    }
    .row-footer {
        padding-top: 65px;
        #nav-footer {
            display: flex;
        }
    }
    .row-behind {
        padding-top: 30px;
        @media (max-width: 740px) {
            position: relative;
        }
        i {
            font-size: 30px;
            @media (min-width: 1024px) {
                padding-left: 43px;
            }
            @media (min-width: 740px) and (max-width: 1023px) {
                padding-left: 28px;
            }

            @media (max-width: 740px) {
                padding: 0 20px;
            }
        }
        .icon-footer {
            display: flex;
            @media (min-width: 1024px) {
                justify-content: flex-end;
                padding-right: 160px;
            }
            @media (min-width: 740px) and (max-width: 1023px) {
                padding-left: 71px;
            }
            @media (max-width: 740px) {
                position: absolute;
                top: 21px;
                justify-content: center;
            }
        }
    }
}
